body {
	background-color: #f8bc64;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Mouse Memoirs', sans-serif;
	letter-spacing: 0.15em;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 700px;
	background-color: white;
}

h1 {
	margin: 0;
	text-align: center;
}

.hero img {
	width: 100%;
	height: 450px;
}

nav {
	background-color: #621a1a;
	width: 100%;
	height: 45px;

}

nav ul {
	list-style-type: none;
	margin: 0 25%;
	padding: 0;
	overflow: hidden;
	width: 100%;

}

nav li {
	display: inline-block;
	text-align: center;
}
nav li a {
	display: block;
	padding: 20px 20px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

main {
	background-color: white;

}
.Services h3 {
	text-align: center;
}

.whatWeDo {
	float: left;
	width: 45%;
}


.cheeseIpsum {
	float: right;
	width: 45%;
}

.customerTestimonials {
	clear: both;
}

.Testimonials {
	width: 33%;
	display: inline-block;
	float: left;
}

.Testimonials img{
	width: 80%;
	border-radius: 50%;
}

.contactUs {
	clear: both;
}

footer {
	background-color: #621a1a;
	color: white;
	padding: 10px 10px;
	text-align: center;
}

/* product page formatting*/

#product-container { 

}

/*  class .  */
/*  id #  */




/* about us page styling*/
.about-us-images {
	display: inline-block;
}

.truck-icon { 
	margin-left: 8%;
 }

.about-us-images img{ 
	margin: 0 auto;
}
.about-us { 
	margin: 10px;
	padding:10px;

 }

 h2	{
 		font-size: 20px;
 }

/*img {
	padding: 20px;
	margin: 10 10;
}*/

.color-block {
	background-color: #3B0E2B;
	color: white;
	font-size: 20px;
	padding: 30px 30px;
}


.product {
	width: 33%;
	border-color: black;
	border: 2px;
	border-style: solid;
	display: inline-block;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	height:400px;
	/*display:flex;*/
	/*flex-direction: row;
	flex-wrap: wrap;*/
	margin: 0 auto;
}






